"@context":

ontologies:

## EFO

  - id: doid
    preferredPrefix: doid
    title: doid
    uri: http://purl.obolibrary.org/obo/doid.owl
    ontology_purl: https://raw.githubusercontent.com/DiseaseOntology/HumanDiseaseOntology/master/src/ontology/doid.owl
